@font-face {
    font-family: 'open_sansbold';
    src: url('../font/opensans/OpenSans-Bold-webfont.eot');
    src: url('../font/opensans/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans/OpenSans-Bold-webfont.woff') format('woff'),
         url('../font/opensans/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../font/opensans/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../font/opensans/OpenSans-Light-webfont.eot');
    src: url('../font/opensans/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans/OpenSans-Light-webfont.woff') format('woff'),
         url('../font/opensans/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../font/opensans/OpenSans-Light-webfont.svg#open_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../font/opensans/OpenSans-Regular-webfont.eot');
    src: url('../font/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans/OpenSans-Regular-webfont.woff') format('woff'),
         url('../font/opensablogns/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../font/opensans/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('../font/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/opensans/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../font/opensans/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../font/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../font/roboto/RobotoCondensed-Bold-webfont.eot');
    src: url('../font/roboto/RobotoCondensed-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto/RobotoCondensed-Bold-webfont.woff') format('woff'),
         url('../font/roboto/RobotoCondensed-Bold-webfont.ttf') format('truetype'),
         url('../font/roboto/RobotoCondensed-Bold-webfont.svg#roboto_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../font/roboto/RobotoCondensed-Regular-webfont.eot');
    src: url('../font/roboto/RobotoCondensed-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto/RobotoCondensed-Regular-webfont.woff') format('woff'),
         url('../font/roboto/RobotoCondensed-Regular-webfont.ttf') format('truetype'),
         url('../font/roboto/RobotoCondensed-Regular-webfont.svg#roboto_condensedregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoregular';
    src: url('../font/roboto/Roboto-Regular-webfont.eot');
    src: url('../font/roboto/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('../font/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../font/roboto/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotolight';
    src: url('../font/roboto/Roboto-Light-webfont.eot');
    src: url('../font/roboto/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto/Roboto-Light-webfont.woff') format('woff'),
         url('../font/roboto/Roboto-Light-webfont.ttf') format('truetype'),
         url('../font/roboto/Roboto-Light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('../font/roboto/Roboto-Bold-webfont.eot');
    src: url('../font/roboto/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/roboto/Roboto-Bold-webfont.woff') format('woff'),
         url('../font/roboto/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../font/roboto/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto_slabbold';
    src: url('../font/RobotoSlab-Bold-webfont.eot');
    src: url('../font/RobotoSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/RobotoSlab-Bold-webfont.woff') format('woff'),
         url('../font/RobotoSlab-Bold-webfont.ttf') format('truetype'),
         url('../font/RobotoSlab-Bold-webfont.svg#roboto_slabbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'als_rublregular';
    src: url('../font/rouble-webfont.eot');
    src: url('../font/rouble-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/rouble-webfont.woff') format('woff'),
         url('../font/rouble-webfont.ttf') format('truetype'),
         url('../font/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'open_sansregular';
    font-size: 170%;
    color: #3e4649;
}

@media (max-width: 767px) {
    body {
        font-size: 110%;
    }
}
    
body a,
body a:hover {
    color: #f07052;
}


/*----------------------------------------------------------------------------*/
.navbar-default {
    margin: 0;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    background: #f6f6f6;
}

nav.navbar-main {
    margin-bottom: -7.5em;
    background-color: transparent;
    background-image: none;
    background: none;
}

.navbar-brand {
/*    height: auto;*/
    padding: 22px 5px 52px 0;
/*    padding: 22px 15px 38px 15px;*/
}


.navbar-brand img {
    width: 100%;
}

.navbar-toggle {
    margin-top: 25px;
}

.navbar-collapse {
    padding-top: 24px;
    padding-right: 0;
}

.navbar-nav {
    margin-top: 0.85em;
}

.navbar-nav > li {
    margin: 0.15em 0.2em 0 0.2em;
}
                      
.navbar-nav > li > a {
    padding: 3px 0 0 0;
    color: #3e4649 !important;
    text-shadow: none;    
}

.navbar-nav > li > a:hover {
    color: #000 !important;
}

.navbar-nav .sign-in {
    margin: 0 0 0 2em;
}

.navbar-nav .sign-in a,
.navbar-nav .reg a,
.navbar-nav .username a,
.navbar-nav .logout a {
    padding: 0.4em 0.8em 0.5em 0.8em;
    font-size: 0.9em;
}

.navbar-nav .sign-in a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: url(../i/yellow-bg.gif) 0 0 repeat #f4da60;
}

.navbar-nav .sign-in a:hover {
    background: #f4da60 !important;
}

nav.navbar-main .navbar-nav .sign-in a {
    color: #fff !important;
    background: url(../i/danger-btn-bg.gif) 0 0 repeat #f07052;
}

nav.navbar-main .navbar-nav .sign-in a:hover {
    color: #fff !important;
    background: url(../i/danger-btn-bg.gif) 0 0 repeat #f07052 !important;
}

.navbar-nav .reg {
    margin: 0;
}

.navbar-nav .reg a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: #cccccc;
}

.navbar-nav .reg a:hover {
    background: #cccccc !important;
}

nav.navbar-main .navbar-nav .reg a {
    color: #fff !important;
    background: url(../i/dark-bg.gif) 0 0 repeat #3e4649;
}

nav.navbar-main .navbar-nav .reg a:hover {
    color: #fff !important;
    background: url(../i/dark-bg.gif) 0 0 repeat #3e4649 !important;
}

.navbar-nav .logout a {
    padding: 0.35em 0.7em 0.35em 0.8em;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: url(../i/yellow-bg.gif) 0 0 repeat #f4da60;
}

.navbar-nav .logout a:hover {
    background: #f4da60 !important;
}

.navbar-nav .username {
    margin: 0 0 0 2em    
}
.navbar-nav .logout {
    margin: 0;
}

.navbar-nav .username a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #cccccc;    
}
    
@media (min-width: 768px) and (max-width: 991px) {
    .navbar-brand {
        max-width: 200px;
        padding: 15px 15px;
    }
    .navbar-brand img {
        width: 100%;
    }
    .navbar-collapse {
        padding-top: 8px;
        font-size: 0.8em;
    }
}

@media (max-width: 767px) {
    nav.navbar-main {
        margin-bottom: -7em;
    }
    .navbar-brand {
        padding: 15px 15px;
    }
    .navbar-collapse {
        padding-top: 0;
    }
    .container>.navbar-collapse {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 10;
        background: #f6f6f6;
    }
    
    .navbar-nav .divider {
        display: none;
    }
    .navbar-nav {
        margin: 1em 0;
    }
    .navbar-nav > li {
        margin: 0.8em 0;
    }
    .navbar-nav > li > a {
        padding: 0;
        margin: 0;
        font-size: 1.8em;
    }
    .navbar-nav .sign-in,
    .navbar-nav .reg,
    .navbar-nav .username {
        margin: 0.8em 0;
    }
    /*nav.navbar-main .navbar-nav .reg a*/
    /*.navbar-nav .reg a,*/
    /*.navbar-nav .sign-in a,*/
    nav.navbar-default .navbar-nav .sign-in a,
    nav.navbar-default .navbar-nav .reg a,
    nav.navbar-default .navbar-nav .username a {
        padding: 0;
        margin: 0;
        color: #3e4649 !important;
        font-size: 1.8em;
        border-radius: 0;
        background: none;
    }    
    .navbar-nav .sign-in a:first-letter,
    .navbar-nav .reg a:first-letter {
        text-transform: uppercase;
    }
    nav.navbar-default .navbar-nav .sign-in a:hover,
    nav.navbar-default .navbar-nav .reg a:hover {
        color: #000 !important;
        background: none !important;
    }
    nav.navbar-default .navbar-nav .username a:hover {
        color: #000 !important;
        background: none !important;
    }
}


/*----------------------------------------------------------------------------*/
.breadcrumb-wrap {
    padding: 1em 0;
}

.breadcrumb {
    margin-bottom: 0;
    font-size: 0.85em;
    background-color: transparent;  
}

.breadcrumb>li+li:before {
    padding: 0;
    color: initial;
}

.breadcrumb a {
    text-decoration: underline;
}

.breadcrumb a:hover {
    text-decoration: none;
}

.breadcrumb>.active {
    color: #3e4649;
}

.breadcrumb-wrap .phone {
    font-family: 'roboto_condensedbold';
    font-size: 1.4em;
}

.breadcrumb-wrap .search .form-control {
    height: 32px;
}

.breadcrumb-wrap .search button {
    width: 34px;
    height: 32px;
    /*padding: 6px 10px;*/
    text-indent: -999px;
    background-image: url(../i/search-bg.png);
    background-position: center center;
    background-repeat: no-repeat;
}


/*----------- Footer ---------------------------------------------------------*/
.footer {
    padding: 3.8em 0 3em 0;
    color: #fff;
    background: url(../i/footer-bg.gif) 0 0 repeat #353b3e;
}

.footer a {
    color: #fff;
}
    
.footer b {
    margin: 2em 0;
    font-family: 'roboto_condensedbold';
    font-size: 1.5em;
    font-weight: normal;
}
    
.footer ul {
    margin: 0.8em 0 0 0;
    padding: 0;
    list-style: none;
}

.footer ul li {
    margin: 0.4em 0;
}

.footer .phone {
    font-family: 'roboto_condensedbold';
    font-size: 1.8em;
    text-align: right;
}

.footer .phone span {
   font-family: 'roboto_condensedregular';
    font-size: 0.6em;
}

.footer .social-links {
    margin-top: 4em;
    text-align: right;
}

.social-links a {
    width: 32px;
    height: 32px;
    margin: 0 0.2em;
    display: inline-block;
    background: url(../i/social-bg.png) 0 0 no-repeat;
}

.social-links a.vk { background-position: -34px 0; }
.social-links a.ig { background-position: -66px 0; }
.social-links a.gp { background-position: -100px 0; }

@media (max-width: 767px) {
    .footer {
        font-size: 80%;
    }
}

@media (max-width: 991px) {
    .footer .phone {
        text-align: center;
    }
    .footer .social-links {
        margin-top: 2em;
        text-align: center;
    }
}


/*----------- Main -----------------------------------------------------------*/
h2.main-block-header {
    padding: 1.2em 0;
    margin: 0;
    font-family: 'open_sanslight';
    font-size: 2.4em;
    text-align: center;
}

.main {
    height: 650px;
    padding-top: 13em;
    background: url(../i/main-bg.jpg) center center no-repeat;
}

@media (max-width: 767px) {
    .main {
        padding-top: 8em;
        height: 400px;
    }
}

@media (min-width: 1280px) {
    .main {
        background-size: cover;
    }
}

.main h1 {
    font-family: 'open_sanslight';
    font-size: 2.8em;
    margin: 0 0 0.8em 0;
}

.main h2 {
    margin: 0 0 1.2em 0;
    font-family: 'roboto_condensedbold';
    font-size: 1.8em; 
    line-height: 1.4em;
}

.main .btn-danger {
    padding: 0.4em 1em;
    font-family: 'open_sanslight';
    font-size: 2.15em;
}

.main .phone {
    font-family: 'roboto_condensedbold';
    font-size: 1.7em;
    margin: 1.4em 0 0 0;
}

.main-courses {
    padding-bottom: 1.5em;
}

.main-courses h2.main-block-header {
    margin-bottom: 1em;
    background: #fff;    
}

.main-courses .course {
    height: 230px;
    margin-top: 1em;
    margin-bottom: 2em;
    background: #fff;
}

.main-courses .course .course-icon {
    width: 40%;
    height: 230px;
}

.main-courses .course.green .course-icon {
     background: url(../i/course-type-1-b.png) center center no-repeat,
         url(../i/green-bg.gif) 0 0 repeat,
         #c0d346;
}

.main-courses .course.blue .course-icon {
    background: url(../i/course-type-2-b.png) center center no-repeat,
        url(../i/blue-bg.gif) 0 0 repeat,
        #6fabcb;    
}

.main-courses .course.yellow .course-icon {
    background: url(../i/course-type-3-b.png) center center no-repeat,
        url(../i/yellow-bg.gif) 0 0 repeat,
        #f4da60;    
}

.main-courses .course.red .course-icon {
    background: url(../i/course-type-4-b.png) center center no-repeat,
        url(../i/red-bg.gif) 0 0 repeat,
        #f07052;    
}

.main-courses .course .course-anons {
    width: 60%;
    padding: 1em 1em 1em 3em;
    position: relative;
    overflow: hidden;
}

.main-courses .course .course-anons h2 {
    margin: 0 0.8em 0.6em 0;
    font-family: 'roboto_condensedbold';
    font-size: 1.5em;
    line-height: 1.2em;    
}

.main-courses .course .course-anons .glyphicon {
    position: absolute;
    top: 1.5em;
    right: 1.2em;
}

.main-courses .course.green h2 a,
.main-courses .course.green .glyphicon { color: #c0d346;}
.main-courses .course.blue h2 a,
.main-courses .course.blue .glyphicon { color: #6fabcb;}
.main-courses .course.yellow h2 a,
.main-courses .course.yellow .glyphicon { color: #f4da60;}
.main-courses .course.red h2 a,
.main-courses .course.red .glyphicon { color: #f07052;}

.main-courses .course .course-anons p {
    margin: 0 0 0.35em 0;
    line-height: 1.3em;
}

.main-courses .course .course-anons a {
    color: #3e4649;
}

@media (min-width: 768px) and (max-width: 1199px) {
    .main-courses .course .course-anons {
        padding: 1.3em 0.5em 0.5em 1em;
    }
    .main-courses .course .course-anons h2 {
        font-size: 1em;
    }
    .main-courses .course .course-anons p {
        font-size: 0.8em;
    }
}

/*@media (min-width: 992px) and (max-width: 1199px) {*/
.main-benefit {
    padding-bottom: 5em;
}

.main-benefit .row {
    line-height: 1.75em;
}

.main-benefit img {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.advantages {
    /*height: 1500px;*/
        padding-top: 4em;
/*    background: 
        url(../i/main-infographic.png) bottom center no-repeat,
        url(../i/blue-main-bg.gif) 0 0 repeat #6191b5;*/
    background: 
        url(../i/blue-main-bg.gif) 0 0 repeat #6191b5;
}

.advantages h2.main-block-header {
    padding: 0.4em 1.65em 0.5em 1.65em;
    display: inline-block;
    margin: 0 auto 2em auto;
    color: #6fabcb;
    letter-spacing: -1.5px;    
    border-radius: 1.2em;
    background: #fff;
}

.advantages .picture {
    position: relative;
}

.advantages .picture img.infographic-full {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.advantages .picture img.infographic-left {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 15;
}

.advantages .picture img.infographic-right {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 15;
}

.advantages .picture .desk {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 450px;
    background: url(../i/dark-blue-bg.gif) 0 0 repeat #3e4649;
}

.advantages ul {
    padding: 0 0 2em 0;
    margin: 0 4em;
    list-style: none;
}

.advantages ul li {
    margin: 0.8em 0;
    font-family: 'robotolight';
    font-size: 1.4em;
    color: #fff;
}

.advantages ul li span {
    /*height: 1em;*/
    width: 28px;
    height: 28px;
    text-align: center;
    display: inline-block;
    padding: 0.3em 0 0 0;
    margin-right: 1em;
    font-family: 'roboto_condensedbold';
    font-size: 1em;
    color: #537b9c;
    border-radius: 50%;
    float: left;
    background: #fff;
}

.main-sertificate {
    height: 40em;
    background: url(../i/sertificate-lg.png) center top 10em no-repeat;
    background-size: cover;
}

.main-try {
    padding-top: 0.2em;
    padding-bottom: 2.5em;
}

.main-try h2.main-block-header {
    margin-bottom: 0.3em;
    color: #fff;
}

.main-try .btn-danger {
    padding: 0.4em 1em;
    font-family: 'open_sanslight';
    font-size: 2.15em;
}

.review-wrap {
    padding: 4em;
}

@media (max-width: 767px) {
    .review-wrap {
        padding: 4em 0;
    }
}

.review-item .media-photo {
    width: 20%;
}

.review-item img {
    width: auto !important;
    max-width: 100% !important;
}

.review-item .media-body {
    padding-right: 4em;
}

.review-item .name {
    margin-left: 3em;
    font-family: 'robotobold';
    
}
.review-item .text {
    margin-left: 3em;
    font-family: 'open_sanslight';
}

.reviews-list.owl-carousel .owl-controls .owl-nav .owl-prev,
.reviews-list.owl-carousel .owl-controls .owl-nav .owl-next {
    background-image: url(../i/slider-arrow-red-bg.png);
}

.partners-slider-wrap {
    padding: 0 4em 0 4em;    
    margin: 2.5em 0 6em 0;    
}

.partners-slider .slide-box {
    width: 100%;
    display: table;
}

.partners-slider .slide {
    width: 100%;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    background: #f6f6f6;
}

.partners-slider .slide img {
    max-width: 70%;
    width: auto;
    max-height: 90px;
    height: auto;
    margin: 0 auto;
    cursor: pointer;
    
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    filter: gray;
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.partners-slider .slide img:hover {
    -webkit-filter: none;
    filter: none;
}

.partners-slider.owl-carousel .owl-controls .owl-nav .owl-prev,
.partners-slider.owl-carousel .owl-controls .owl-nav .owl-next {
    margin-top: -21px;
}

.cart-icon-bc{
    background-image: url(../i/bc.png);
    background-position: center left;
    background-size: 26px 26px;
    padding-left: 40px;
    background-repeat: no-repeat;
    padding-top: 5px;
}

.cart-icon-ib{
    background-image: url(../i/ib.png);
    background-position: center left;
    background-size: 26px 26px;
    padding-left: 40px;
    background-repeat: no-repeat;
    padding-top: 5px;
}

.cart-icon-qw{
    background-image: url(../i/qw.png);
    background-position: center left;
    background-size: 26px 26px;
    padding-left: 40px;
    background-repeat: no-repeat;
    padding-top: 5px;
}

.cart-icon-y{
    background-image: url(../i/y.png);
    background-position: center left;
    background-size: 26px 26px;
    padding-left: 40px;
    background-repeat: no-repeat;
    padding-top: 5px;
}

.cart-icon-t{
    background-image: url(../i/t.png);
    background-position: center left;
    background-size: 26px 26px;
    padding-left: 40px;
    background-repeat: no-repeat;
    padding-top: 5px;
}

.cart-icon-alfa{
    background-image: url(../i/alfa.png);
    background-position: center left;
    background-size: 26px 26px;
    padding-left: 40px;
    background-repeat: no-repeat;
    padding-top: 5px;
}

.cart-icon-sber{
    background-image: url(../i/sber.png);
    background-position: center left;
    background-size: 26px 26px;
    padding-left: 40px;
    background-repeat: no-repeat;
    padding-top: 5px;
}

.cart-icon-prom{
    background-image: url(../i/prom.png);
    background-position: center left;
    background-size: 26px 26px;
    padding-left: 40px;
    background-repeat: no-repeat;
    padding-top: 5px;
}


/*----------- Courses --------------------------------------------------------*/
.courses-wrap {
    padding-top: 1.5em;
    padding-bottom: 2.5em;
}

.courses-list {
    margin-top: 3em;
}

.courses-item {
    /*min-height: 13em;*/
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    position: relative;
    overflow: hidden;
    background: #fff;
}

.courses-item .courses-title {
    padding: 0.7em 1.2em 0.7em 1.2em;
    min-height: 70px;
    color: #fff;
}

/*.courses-item.bg-green .courses-title { background: url(../i/course-type-1.png) center right 12px no-repeat #c0d346; }*/
/*.courses-item.bg-blue .courses-title { background: url(../i/course-type-2.png) center right 12px no-repeat #6fabcb; }*/
/*.courses-item.bg-yellow .courses-title { background: url(../i/course-type-3.png) center right 12px no-repeat #f4da60; }*/
.courses-item.bg-red .courses-title { background: url(../i/course-type-4.png) center right 12px no-repeat #f07052; }

.courses-item.bg-green .courses-title { background: url(../i/course-type-1.png) center right 12px no-repeat, url(../i/green-bg.gif) 0 0 repeat, #c0d346; }
.courses-item.bg-blue .courses-title { background: url(../i/course-type-2.png) center right 12px no-repeat, url(../i/blue-bg.gif) 0 0 repeat, #6fabcb; }
.courses-item.bg-yellow .courses-title { background: url(../i/course-type-3.png) center right 12px no-repeat, url(../i/yellow-bg.gif) 0 0 repeat, #f4da60; }
.courses-item.bg-red .courses-title { background: url(../i/course-type-4.png) center right 12px no-repeat, url(../i/red-bg.gif) 0 0 repeat, #f07052; }

.courses-item .courses-title h2 {
    margin: 0 60px 0 0;
    font-family: 'roboto_condensedbold';
    font-size: 1.2em;
    line-height: 1.2em;
    letter-spacing: -0.5px;
}

.courses-item .courses-title .courses-icon {
    width: 57px;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center center;
}

.courses-item .courses-content {
    padding: 1.4em 1em 2.5em 1.1em;
}

.courses-item .author {
    margin: 0 0 0.8em 0
}

.courses-item .finished {
    /*margin: 0 0 2.5em 0;*/
    font-size: 0.8em;
    color: #b4b4b4;
}

.courses-item .courses-start {
    position: absolute;
    bottom: 1em;
    left: 1.1em;
    right: 1.4em;
}

.courses-item.bg-green .courses-start { color: #c0d346; }
.courses-item.bg-blue .courses-start { color: #6fabcb; }
.courses-item.bg-yellow .courses-start { color: #f4da60; }
.courses-item.bg-red .courses-start { color: #f07052; }


/*----------- Course single --------------------------------------------------*/
.course-header h1 {
    margin: 0.8em 0 0.7em 0;
    font-family: 'open_sanslight';
    font-size: 2.3em;
}

.course-header .course-include {
    margin-bottom: 2.2em;
    font-family: 'open_sansregular';
    /*font-family: 'open_sanslight';*/
    font-size: 1.05em;
}

.progress-title {
    margin: 0 0 0.8em 0;
    font-family: 'open_sansbold';
    font-size: 0.8em;
}


.instructor {
    padding: 2em 0 4em 0;
    position: relative;
}

.instructor.double-row:after {
    content: "";
    display: block;
    width: 6px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -3px;
    background: #f6f6f6;
}

@media (max-width: 991px) {
    .instructor.double-row:after {
        display: none;
    }
}

.instructor .photo {
    margin: 2em 3em 0 0;
}

@media (max-width: 767px) {
    .instructor .photo {
        width: 30%;
    }
}

.instructor .btn.add-answer {
    padding: 0.4em 3.7em;
    font-size: 1.3em;    
}

.instructor.double-row .photo {
    max-width: 130px;
}

.instructor.double-row .instructor-box {
    padding-left: 3em;
}

.instructor.double-row .instructor-box .photo {
    margin: 2em 0 0 3em;
}

.instructor.double-row .instructor-box .btn {
    margin-right: 1em;
}

.instructor.double-row .instructor-box span.info-text {
    font-family: 'open_sanslight';
    font-size: 0.8em;
    color: #9f9f9f;
}
                                               
.instructor .text {
    padding-bottom: 0.5em;
    overflow: hidden;
}

.instructor h4 {
    margin: 0.7em 0 1.2em 0;
    font-family: 'roboto_condensedbold';
}

.instructor h4 span {
    color: #f07052;
}

.instructor p {
    margin-bottom: 2.2em;
    line-height: 1.7em;
}

.course-benefit {
    padding-top: 2em;
    padding-bottom: 3em;
    line-height: 1.55em;
}

.course-benefit img {
    margin-top: 1em;    
    margin-bottom: 1.5em;    
}

.course-sertificate {
    padding-top: 7em;
    padding-bottom: 6em;
    background-position: 0 60px;
    background-repeat: no-repeat;
    background-image: url(../i/sertificate-sm.png);
}

.course-sertificate .btn {
    padding: 0.6em 1.7em;    
    margin-top: 1.5em;
    font-size: 1.2em;
}

@media (max-width: 767px) {
    .course-sertificate {
        padding-top: 3em;
        padding-bottom: 3em;
        text-align: center;
        background-image: none;
    }
}

.course-buy-line {
    padding-top: 3em;
    padding-bottom: 3em;
    color: #fff;
}

.course-buy-line .buy-price {
    text-align: right;
}

.course-buy-line .buy-price.full-price {
    margin-top: 40px;
}

.course-buy-line .btn {
    font-family: 'open_sanssemibold';
    font-size: 0.95em;
    vertical-align: super;
}

@media (max-width: 767px) {
    .course-buy-line .buy-attemption {
        text-align: center;
    }
    .course-buy-line .buy-price {
        text-align: center;
    }    
    .course-buy-line .buy-price b {
        margin: 0.5em 0;
        display: block;
    }
    .course-buy-line .buy-price.full-price {
        margin-top: 10px;
    }    
}

.price {
    margin-right: 15px;
    font-family: 'roboto_condensedbold';
    font-size: 1.6em;    
    font-weight: normal;
    color: #f0a852;
}

.price span {
    font-family: 'als_rublregular';
}

@media (max-width: 767px) {
    .price {
        margin-right: 0;
    }
}

.part-header {
    margin-top: 1.8em;
    margin-bottom: 0.8em;
}

.part-header h2 {
    margin: 0.05em 0 0.5em 0;
    font-family: 'open_sanslight';
    font-size: 1.4em;
    line-height: 1.35em;
    overflow: hidden;
}

.part-header h2 a {
    color: #3e4649;
}

.part-header .part-number {
    margin-right: 0.15em;
    font-family: 'open_sanslight';
    font-size: 1.4em;
}

.part-header .part-status {
    margin-top: 0.5em;
    font-size: 0.8em;
    text-align: right;
    color: #a1a0a0;
}

@media (max-width: 767px) {
    .course-parts.disabled .part-header .part-status {
        text-align: center;
    }
    .course-parts.disabled .part-header .part-status .price {
        display: block;
    }
}

.divider-line {
    margin-bottom: 0.5em;
    height: 5px;
    background: url(../i/green-bg.gif) 0 0 repeat #c0d346;
}

.course-parts.disabled .divider-line {
    background: #9fa3a4;
}

.part-include {
    font-size: 0.9em;
}

.course-parts.disabled .part-include,
.course-parts.disabled .lessons-list {
    opacity: 0.5;
}

.course-parts.disabled .part-lessons-count {
    color: #a1a0a0;
}

.part-include .part-consultate {
    color: #a1a0a0;
}

.part-include .part-status {
    font-family: 'open_sansbold';
    color: #c0d346;
}

.course-parts.disabled .part-status {
    color: #a1a0a0;
}

.lessons-list {
    margin-top: 1.5em;
    margin-bottom: 2em;
}

.lesson-item {
    position: relative;
    margin-bottom: 1em;
    text-align: center;
}

.lesson-item .lesson-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 11.6em;
    display: table;
    font-family: 'roboto_condensedbold';
    font-size: 1.3em;
    color: #3e4649;
    background: rgba(255,255,255,0.6);
}

.lesson-item .lesson-overlay > div {
    display: table-cell;
    vertical-align: middle;
}

.lesson-item .lesson-title {
    width: 100%;
    display: table;
    background: url(../i/green-bg.gif) 0 0 repeat #c0d346;
}

.lesson-item h3 {
    height: 3.6em;
    padding: 0 0.5em;
    display: table-cell;
    vertical-align: middle;
    font-family: 'roboto_condensedbold';
    font-size: 1.3em;
    color: #fff;
}

.lesson-item .lesson-photo {
    height: 10.3em;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.lesson-item .check-viewed {
    margin: 1em 0;
    font-size: 0.8em;
    color: #5c5c5c;
    text-decoration: underline;
    display: inline-block;
}

.lesson-item check-viewed:hover {
    text-decoration: none;
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next {
    width: 21px;
    height: 42px;
    font-size: 0;
    position: absolute;
    background: url(../i/slider-arrow-bg.png) 0 0 no-repeat;
}

.owl-carousel .owl-controls .owl-nav .owl-prev {
    top: 50%;
    left: -50px;
}

.owl-carousel .owl-controls .owl-nav .owl-next {
    top: 50%;
    right: -50px;
    background-position: -22px 0;
}

.owl-carousel .owl-controls .owl-dots {
    text-align: center;
}

.owl-carousel .owl-controls .owl-dot {
    width: 10px;
    height: 10px;
    margin: 1.5em 0.5em 0 0.5em;
    border-radius: 50%;
    display: inline-block;
    background: #cecece;
}

.owl-carousel .owl-controls .owl-dot.active {
    background: #333;
}

@media (max-width: 845px) {
    .owl-carousel .owl-controls .owl-nav .owl-prev,
    .owl-carousel .owl-controls .owl-nav .owl-next {
        display: none !important;
    }
}

@media (min-width: 992px) and (max-width: 1060px) {
    .owl-carousel .owl-controls .owl-nav .owl-prev,
    .owl-carousel .owl-controls .owl-nav .owl-next {
        display: none !important;
    }
}

@media (min-width: 1200px) and (max-width: 1260px) {
    .owl-carousel .owl-controls .owl-nav .owl-prev,
    .owl-carousel .owl-controls .owl-nav .owl-next {
        display: none !important;
    }
}


/*----------- Part -----------------------------------------------------------*/
.exam-header {
    padding: 1.6em 0;
    font-family: 'roboto_condensedbold';
    font-size: 1.3em;
    color: #fff;
    background: url(../i/blue-bg.gif) 0 0 repeat #6fabcb;
}

.exam-task {
    padding: 1.6em 0;
}

.exam-task .btn.btn-block {
    padding-left: 0;
    padding-right: 0;
}

.exam-task .task-preview {
    width: 100%;
    height: 11em;
    margin-bottom: 1em;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.exam-task .file-loader {
    height: 11em;
    margin-bottom: 1em;
    font-family: 'open_sanslight';
}

.exam-task .file-loader > * {
    font-size: 0.8em;
}

.exam-task .file-loader .input-group {
    margin-bottom: 1em;
}

.exam-task .file-loader .form-control {
    height: 32px;
}

.exam-task .file-loader button {
    width: 70px;
    height: 32px;
    padding: 0;
    font-size: 14px;
    color: #fff;
}

.exam-task .file-loader .file-loaded {
    margin-bottom: 1em;
}

.exam-status {
    padding: 1.6em 0;
}

.exam-status h4  {
    font-family: 'roboto_condensedbold';
    font-size: 1.3em;
}

.exam-status h4 span {
    color: #c0d346;
}

.exam-status p {
    font-size: 0.9em;
}

.comments {
    padding: 1.6em 0;
}

.comments h4  {
    font-family: 'roboto_condensedbold';
    font-size: 1.3em;
}

.comment-form {
    margin-bottom: 4em;
    font-family: 'open_sanslight';
    font-size: 0.8em;
}

.comment-form label {
    margin-bottom: 0.8em;
    font-weight: normal;
}

.comment-form textarea {
    width: 100%;
    height: 14em;
    margin-bottom: 0.4em;
    resize: none;
    border: 1px solid #cccccc;
}

.comment-form .add-file {
    color: #aaba41;
    text-decoration: underline;
}

.comment-form .add-file:hover {
    text-decoration: none;
}

.comment-form button[type="submit"] {
    margin-top: 0.4em;
    font-size: 1.2em;
    padding: 0.6em 1.5em;
}

.comment {
    margin-bottom: 1.4em;
    font-family: 'open_sanslight';
}

.comment .name {
    font-family: 'open_sansbold';
    font-size: 0.9em;
}

.comment p,
.comment a {
    margin: 0;
    font-size: 0.8em;
    line-height: 2em;
}

.comment .comment-attach {
    padding: 0;
    list-style: none;
}

.comment .comment-attach a {
    color: #aaba41;
    text-decoration: underline;
}

.comment .comment-attach a:hover {
    text-decoration: none;
}

.part-pager {
    padding: 0;
    margin: 0;
    list-style: none;
}

.part-pager li {
    width: 50%;
    padding: 1.1em 0;
    float: left;
    color: #fff;
    text-align: center;
}

.part-pager li.prev {
    border-right: 1px solid #fff;
    background: url(../i/red-bg.gif) 0 0 repeat #f07052;
}

.part-pager li.prev span {
    margin-right: 2.5em;
}

.part-pager li.next {
    border-left: 1px solid #fff;
    background: url(../i/green-bg.gif) 0 0 repeat #c0d346;
}

.part-pager li.next span {
    margin-left: 2.5em;
}

.part-pager a {
    font-family: 'open_sanslight';
    font-size: 1em;
    color: #fff;
}

.part-pager a:hover {
    color: #fff;
}


/*----------- Blog -----------------------------------------------------------*/
.blog-wrap {
    padding-bottom: 2.5em;
}

.blog-wrap .filter-wrap {
    margin: 1.5em 0;
}
                        
.blog-wrap .courses-ad {
    text-align: center;
}

.blog-wrap .courses-ad h3 {
    margin: 0 0 0.8em 0;    
    font-family: 'open_sanslight';
    font-size: 1.5em;
}

.blog-wrap .courses-ad .courses-links {
    font-size: 0.9em;
    color: #f07052;
}

.blog-wrap .courses-ad .courses-links a {
    margin: 0 0.3em;
}

.blog-list .mix {
    margin-top: 1.5em;
}
                 
.blog-list .mix {
    display: none;
}

.blog-item {
    margin: 1em 0;
    background: #fff;
}

.blog-item .blog-photo {
    max-height: 280px;
    overflow: hidden;
}

.blog-item .blog-photo img {
    width: 100%;
    height: auto;
}

.blog-item .blog-content {
    padding: 1.6em 1.8em;
}

.blog-item .blog-content h2 {
    margin: 0 0 0.5em 0;
    font-family: 'roboto_condensedbold';
    font-size: 1.5em;
}

.blog-item .blog-content p {
    margin-bottom: 0.2em;
    line-height: 1.8em;
}

.blog-tags a {
    color: #6fabcb;
    text-decoration: underline;
}

.blog-tags a:hover {
    text-decoration: none;
}

.blog-item .btn {
    padding-top: 18px;
    padding-bottom: 18px;
    color: #fff;
    border-radius: 0;
    background: url(../i/yellow-bg.gif) 0 0 repeat #f4da60;
}

.blog-subscribe {
    margin-top: 2em;
    margin-bottom: 2em;
}

.blog-subscribe-text {
    margin: 0.5em 0;
    font-family: 'roboto_condensedbold';
    font-size: 1.3em;
}

.blog-subscribe-form {
    padding-top: 8px;    
    margin: 0.5em 0;
    text-align: right;
}

.blog-subscribe-form label {
    font-size: 14px;
    font-weight: normal;
    margin-right: 12px;
}

.blog-subscribe-form .form-control {
    width: 210px;
    margin-right: 2px;
}

.blog-subscribe-form [type='submit'] {
    padding: 0.25em 2em;
    vertical-align: top;
}

@media (max-width: 767px) {
    .blog-subscribe-form .form-control {
        margin: 0 auto;
    }
}

@media (max-width: 991px) {
    .blog-subscribe-text,
    .blog-subscribe-form {
        text-align: center;
    }
}

.blog-single .blog-content {
    padding: 1.5em 2.5em 3em 2.5em;
    margin-top: 1em;
    background: #fff;
}

.blog-single .blog-content h1 {
    margin: 0 0 1em 0;
    font-family: 'roboto_condensedbold';
    font-size: 1.5em;    
}

.blog-single .blog-content .blog-photo {
    margin-bottom: 1.5em;
}

.blog-single .blog-content p {
    margin-bottom: 1em;
    line-height: 1.8em;
}

@media (max-width: 767px) {
    .blog-single .blog-content .social-links {
        margin-top: 1em;
    }
}

@media (min-width: 768px) {
    .blog-single .blog-content .social-links {
        text-align: right;
    }
}

.blog-single .courses-list {
    margin-top: 0.65em;
}

.recent-posts .block-header {
    margin: 1.3em 0 1.0em 0;
    font-family: 'open_sanslight';
    font-size: 1.5em;
    color: #3e4649;
}

.recent-item {
    height: 9em;
    margin-bottom: 1em;
    display: block;
    background: #fff;
}

.recent-item:hover {
    color: #3e4649;
}

.recent-item .recent-photo {
    height: 9em;
    width: 30%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.recent-item .recent-content {
    padding: 0.7em 1.4em 0.7em 1.4em;
    overflow: hidden;
}

.recent-item .recent-content h3 {
    margin: 0 0 0.2em 0;
    font-family: 'roboto_condensedbold';
    font-size: 1.5em;
}

.recent-item .recent-content {
    color: #3e4649;
}


/*----------- Cart -----------------------------------------------------------*/
.cart-header {
    padding: 0.35em 0;
    font-family: 'open_sanslight';
    font-size: 2.3em;
    color: #fff;
    background: url(../i/blue-bg.gif) 0 0 repeat #6fabcb;    
}

.cart-inner {
    padding: 1.2em 0 0 0;
}

.cart-inner .course-name {
    font-size: 1.05em;
    margin: 0 0 5px 0;
}

.cart-inner .course-consist {
    list-style: none;
    padding: 0;
    margin: 0 0 25px 0;
}

.cart-inner .course-consist li {
    margin-bottom: 5px;
}

.cart-inner .course-consist p {
    margin: 0;
}

.cart-inner .price {
    margin: 0 25px 0 5px;
    font-size: 1em;
    color: #6fabcb;
}

.cart-inner .price span {
    font-size: 0.9em;
}

.cart-inner .cart-total {
    margin-bottom: 1.6em;
}

.cart-inner .cart-total p {
    padding-top: 0.5em;
    margin: 0;
    font-family: 'open_sansbold';
}

.cart-inner .cart-total .price {
    margin-right: 44px;
    font-size: 1.6em;
}

.cart-inner .promo-code {
    margin-bottom: 1.6em;
}

.cart-inner .promo-code p {
    margin-bottom: 15px;
    font-size: 0.8em;
}

.cart-inner .promo-code .input-group-btn .btn {
    width: 44px;
    height: 36px;
}

.cart-payment {
    padding: 1.1em 0 3.4em 0;
}

.cart-payment .radio-inline {
    margin-bottom: 10px;
}

.payment-type-logos {
    margin: 0 0 30px 30px;
}

.payment-help-text {
    max-width: 310px;
    margin: 15px 0 0 30px;
    font-size: 0.8em;
}

/*.cart-payment .form-group {
    margin: 0 30px 30px 30px;
}*/

.button-details{
    margin-top: 45px;
}

.courses-page-a:hover { text-decoration: none; }

.cart-payment textarea {
    height: 13.7em;
}

.cart-payment .btn-success,
.cart-payment .btn-primary {
    max-width: 310px;
    margin-left: 30px;
    margin-right: 30px;
}


.cart-guarantee {
    padding: 1.7em 0;
    /*padding: 1.85em 0;*/
    color: #fff;
}

.cart-guarantee .media-left {
    padding-right: 25px;
}


/*----------- User cabinet ---------------------------------------------------*/
.user-courses {
    padding: 2.4em 0 0 0;
}

.user-setting {
    margin: 0 0.5em 0 0;
}

.user-photo .user-setting {
    margin: 0 0.5em 0 0.6em;
}

.user-info {
    margin-bottom: 1.4em;    
    overflow: hidden;
}

.user-name,
.user-rating {
    font-family: 'roboto_condensedbold';
    font-family: 'robotobold';
}

.user-rating {
    color: #f07052;
}

.user-photo {
    margin-bottom: 2em;
}

.courses-started {
    margin-bottom: 2em;
}

.courses-started .col-header {
    margin-bottom: 0.4em;
}

.courses-started .row {
    margin-bottom: 0.5em;
}

.user-courses-stat {
    padding: 2.2em 0 1.4em 0;
}

.courses-ended {
    margin-bottom: 3.4em;
}

.courses-ended .col-header {
    margin-bottom: 0.9em;
}

.courses-ended .row {
    margin-bottom: 0.5em;
}

.user-courses-stat .courses-list {
    margin-top: 1.5em;
}


/*----------- About ----------------------------------------------------------*/
.about-top {
    background: url(../i/about-top-bg.gif) 0 0 repeat #5696d2;
}

.about-main {
    padding: 0 0 3em 0;
}

.about-benefit-list {
    /*font-size: 0;*/
    text-align: center;
}

.about-benefit {
    width: 32%;
    padding: 0 2.5em;
    margin: 0 0 1em 0;
    /*font-size: initial;*/
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 767px) {
    .about-benefit {
        width: 48%;
    }
}

.about-benefit img {
    margin: 0 auto 1.5em auto;
    display: block;
}

.team-member {
    margin-bottom: 2.5em;
}

.team-member img {
    margin-bottom: 1.5em;
}

.team-member h4 {
    margin: 0 0 0.3em 0;
    font-family: 'roboto_condensedbold';
    font-size: 1.1em;
}

.team-member h5 {
    margin: 0 0 1em 0;
    font-family: 'roboto_condensedbold';
    font-size: 1.1em;
    color: #f07052;
}

.about-ocean-block {
    padding-top: 1.6em;
    padding-bottom: 1.6em;
    font-family: 'open_sanslight';
    font-size: 1.5em;
    color: #fff;
    text-align: center;
}

.about-ocean-block a {
    color: #496F7E;
    text-decoration: underline;
}

.about-ocean-block a:hover {
    color: #496F7E;
    text-decoration: none;
}


/*----------- Experts --------------------------------------------------------*/
.expert-list {
    margin-top: 3em;
}
  
.expert-item {
    margin-bottom: 2.5em;
}

.expert-item img {
    margin-bottom: 1.5em;
}

.expert-item h4 {
    margin: 0 0 0.3em 0;
    font-family: 'roboto_condensedbold';
    font-size: 1.1em;
}

.expert-item h4 a {
    color: inherit;
}

.expert-item h5 {
    margin: 0 0 1em 0;
    font-family: 'roboto_condensedbold';
    font-size: 1.1em;
    color: #f07052;
}


/*----------- 404 ------------------------------------------------------------*/
.page-404 {
    color: #fff;
}

.page-404 img {
    margin-top: 4em;
}

.page-404 a {
    color: #000;
    text-decoration: underline;
}

.page-404 a:hover {
    color: #000;
    text-decoration: none;
}

.top-buffer { margin-top:20px; }

/*----------- HR cabinets ----------------------------------------------------*/
.send-invate {
    margin-top: 2em;
    margin-bottom: 2em;
}

.send-invate-text {
    margin: 0.5em 0;
    font-family: 'roboto_condensedbold';
    font-size: 1.3em;
}

.send-invate-form {
    padding-top: 8px;    
    margin: 0.5em 0;
    text-align: right;
}

.send-invate-form label {
    font-size: 14px;
    font-weight: normal;
    margin-right: 12px;
}

.send-invate-form .form-control {
    width: 210px;
    height: 45px;
    margin-right: 2px;
}

.send-invate-form [type="submit"] {
    vertical-align: top;
}

@media (max-width: 767px) {
    .send-invate-form .form-control {
        margin: 0 auto;
    }
}

@media (max-width: 991px) {
    .send-invate-text,
    .send-invate-form {
        text-align: center;
    }
}
    

/*----------- Cabinet partner ------------------------------------------------*/
.voucher-generate .form-group {
    vertical-align: top;
}

.voucher-generate [type="submit"] {
    margin-right: 2em;
}

@media (max-width: 767px) {
    .voucher-generate [type="submit"] {
        margin: 0.5em auto 1.5em auto;
        display: block;
    }
    .voucher-generate .voucher-amount {
        text-align: center;
    }
}


/*----------- Filter ---------------------------------------------------------*/
.filter-wrap {
    padding: 0;
    margin: 0 0 0 0;
    list-style: none;
}

.filter-wrap li {
    padding: 0.48em 1em;
    margin: 0.2em 0;
    display: inline-block;
    cursor: pointer;
    font-size: 0.95em;
    color: #fff;
    border-radius: 4px;
    background: #cccccc;
}

.filter-wrap .filter.bg-green { color: #fff; background: url(../i/green-bg.gif) 0 0 repeat #c0d346; }
.filter-wrap .filter.bg-blue { color: #fff; background: url(../i/blue-bg.gif) 0 0 repeat #6fabcb; }
.filter-wrap .filter.bg-yellow { color: #fff; background: url(../i/yellow-bg.gif) 0 0 repeat #f4da60; }
.filter-wrap .filter.bg-red { color: #fff; background: url(../i/red-bg.gif) 0 0 repeat #f07052; }

.filter-wrap li span {
    font-size: 0.7em;
    font-weight: bold;
}

.filter-wrap li.active {
    color: #3e4649;
    background: #fff;
}
                                            
                                            
/*----------- Bootstrap ------------------------------------------------------*/
.h1 {
    margin: 0 0 0.65em 0;
    font-family: 'open_sanslight';
    font-size: 2.35em;
    font-weight: normal;
}

.h2 {
    margin: 0 0 1em 0;
    font-family: 'open_sanslight';
    font-size: 1.35em;
    font-weight: normal;
}

.has-success .form-control {
    border-color: #c0d346;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.has-error .input-group-addon,
.has-error .input-group .btn {
    border-color: #a94442;
    background: #a94442;
}

.has-success .input-group-addon,
.has-success .input-group .btn {
    border-color: #c0d346;
    background: url(../i/green-bg.gif) 0 0 repeat #c0d346;
}


/*----------- Common ---------------------------------------------------------*/
.block-header {
    padding: 1.2em 0;
    margin: 0;
    font-family: 'open_sanslight';
    font-size: 2.4em;
}

.text-gray {
    color: #496F7E;
}

.text-orange {
    color: #f07052;
}

.text-blue {
    color: #5696d2;
}

b, strong {
    font-family: 'robotobold';
}

.p-tb-35 {
    padding-top: 35px;
    padding-bottom: 35px;
}

.p-b-35 {
    padding-bottom: 35px;
}

.bg-gray {
    background-color: #f6f6f6;
}

.bg-ocean {
    background: url(../i/ocean-bg.gif) 0 0 repeat #5696d2;
}

.bg-dark {
    background: url(../i/dark-bg.gif) 0 0 repeat #3e4649;
}

.bg-dark-blue {
    background: url(../i/dark-blue-bg.gif) 0 0 repeat #3f4a56;
}

form h4 {
    font-family: 'open_sansbold';
}

form label {
    font-weight: normal;
}

.table-cleared>tbody>tr>td,
.table-cleared>tbody>tr>th,
.table-cleared>tfoot>tr>td,
.table-cleared>tfoot>tr>th,
.table-cleared>thead>tr>td,
.table-cleared>thead>tr>th {
    border-top: 0;
    padding: 3px;
}

.table-cleared>tbody>tr>th,
.table-cleared>tfoot>tr>th,
.table-cleared>thead>tr>th {
    padding: 8px 3px;
    font-weight: normal;
}

.table-cleared td {
    font-size: 0.8em;
}

.table-cleared .filter-row .form-control {
    width: auto;
    display: inline-block;
    border-radius: 5px;
}

        .table-cleared .filter-row .form-control.date-control {
            padding-right: 32x;
            background: url(../i/date-control-bg.png) top 5px right 8px no-repeat #fff;
        }

.table-cleared .total-row {
    font-size: 1.2em;
}

.advantage {
    padding-top: 2em;
    padding-bottom: 2em;
    font-family: 'open_sanslight';
}

.advantage .row img {
    margin-bottom: 2em;
}

.progress {
    margin-top: 0.35em;
    margin-bottom: 0.8em;
}

.table-cleared .progress {
    margin-top: 0.3em;
}

.progress-score {
    margin-left: 0.4em;
    font-size: 0.9em;
    float: right;
}

@media (max-width: 767px) {
    .progress {
        display: none;
    }

    .progress-score {
        margin: 0;
        float: none;
    }
}
        





@media (max-width: 767px) {
    /*xs*/
}
@media (min-width: 768px) and (max-width: 991px) {
    /*sm}*/
}
@media (min-width: 992px) and (max-width: 1199px) {
    /*md*/
}
@media (min-width: 1200px) {
    /*lg*/
}